
.wrapper {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  background-color: #f4f4f4; 
  border-radius: 8px; 
  padding: 20px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin: 10px; 
  height: 300px; 
  width: 100%; 
}


.banner_image {
  width: 100%;
  max-width: 300px; 
  height: 100%; 
  margin: 0 auto; 
  text-align: center; 
}

.banner_image img {
  display: block; 
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  border-radius: 8px; 
}


.delete_icon {
  height: auto;
  width: auto;
  position: absolute; 
  top: 10px; 
  right: 10px; 
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 50%; 
  padding: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}


.delete_icon:hover {
  background-color: rgba(255, 255, 255, 0.8); 
}

.button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}
